@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: gilroy;
  font-family: "DM Sans", sans-serif;
  scroll-padding-top: 215px;
  color: $secondaryColor;
  &::selection{
    background-color: $mainColor;
    color: $secondaryColor;
  }
}
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  background-color: $secondaryColor;
}

body::-webkit-scrollbar-thumb {
  background-color: $mainColor;
  border-radius: 2rem;
}

main{
  padding-top: 182px;
}

