.productBox {
  // width: 350px;
  // padding: 1rem ;
  min-height: 380px;
  // border: 2px solid $mainColor;
  cursor: pointer;
  // margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  .productImgbox {
    padding: 1rem;
    width: 100%;
    height: 250px;
    // border: 2px solid #2e05fd;
    @include flexrow;

    img {
      // width: 100%;
      height: 100%;
      transition: all ease 0.5s;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
  .productTextbox {
    width: 100%;
    // border: 1px solid red;
    text-align: center;
    padding: 0 1rem;
    @include flexrow;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    h2 {
      font-size: 1.2rem;
      display: inline;
      margin-bottom: 0.5rem;
    }
  }
  .btnBox {
    width: 100%;
    // margin-bottom: 1rem;
    // border: 2px solid red;
    @include flexrow;
    justify-content: space-between;
  }
}
