.cartPage {
  width: 100%;
  // border: 1px solid red;

  #cart {
    min-height: 80vh;
    // border: 1px solid $dark;
    padding-top: 2rem;

    .emptyCartBox {
      width: 100%;
      margin-top: 2rem;
      @include flexrow;
      // flex-direction: column;
      // border: 1px solid red;
      iframe {
        border: none;
        outline: none;
        width: 100%;
        min-height: 55vh;
      }
    }
    .cartItemCont {
      height: 100%;
      padding-top: 1rem;
      // border: 1px solid $dark;
      display: flex;
      justify-content: space-between;

      .productItemCont {
        width: 60%;
        height: 100%;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.8rem;
      }

      .cartTotal {
        width: 35%;
        height: 45vh;
        border: 1px solid $dark;
        padding: 2.5rem 2rem;
        position: sticky;
        top: 170px;

        .totalPrice {
          width: 100%;  
          margin-bottom: 1.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2 {
            font-size: 2rem;
          }
          h3{
            font-size: 1.5rem;
          }
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
