.categorySection {
  width: 100%;
  // height: 80vh;
  // border: 1px solid blue;
  padding: 4rem 0;
  @include flexrow;

  #categorySec {
    height: 100%;
    // border: 1px solid red;

    .productBoxCont {
      // display: grid;
      grid-template-columns: repeat(4, 1fr);
      // grid-gap: 2rem;
      // grid-auto-rows: minmax(100px, auto);
      .categoryBox {
        // width: 220px;
        text-align: center;
        border: 1px solid $dark;
        cursor: pointer;
        // margin: 0 auto;
        padding: 1.5rem 0;
        border-radius: 1rem;
        .categoryImgbox {
          width: 100%;
          height: 200px;
          // border: 1px solid blue;
          @include flexrow;
          img {
            height: 90%;
            padding: 1rem;
            display: block;
            margin: 0 auto;
            transition: all ease 0.5s;
            &:hover{
              transform: scale(1.1);
            }
          }
        }
        h3 {
          margin: 0.5rem 0;
          // border: 1px solid blue;
          // @include underlineEffect;
          
        }
      }
    }
  }
}
.categoryBoxSec {
  width: 100%;
  border: 1px solid red;
  #categoryBoxSec {
    // height: 100vh;
    border: 1px solid greenyellow;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    row-gap: 2rem;
    padding-top: 2rem;

    .sectionHead {
      .sortSelection {
        // border: 1px solid blue;
        label {
          font-size: 1.2rem;
          font-weight: 500;
          margin-right: 1rem;
        }
        select {
          padding: 0.5rem 1rem;
          font-size: 1.1rem;
          cursor: pointer;
          &:hover {
            border: 1px solid $black;
          }
          option {
            cursor: pointer;
            padding: 0.5rem 1rem;
          }
        }
      }
    }
  }
}
