nav {
  width: 100%;
  border-top: 1px solid #9b9999;
  position: fixed;
  top: 98px;
  left: 0;
  z-index: 10000;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
  // border: 1px solid blue;

  #navbar {
    // border: 2px solid red;
    @include flexrow;
    justify-content: start;

    ul {
      @include flexrow;
      padding: 1.5rem 0;
      li {
        margin-right: 2rem;
        position: relative;
        a {
          @include flexrow;
          font-size: 1.1rem;
          font-weight: 600;
          text-decoration: none;
          color: $black;
          transition: all 0.5s;

          &:hover {
            &::after {
              content: "";
              width: 100%;
              position: absolute;
              left: 0;
              bottom: 0;
              border: 1px solid #2e2d2d;
            }
          }

          i {
            margin-left: 0.8rem;
          }
        }
      }
    }
  }
}
